#root {
    min-height: 100vh;
    background-image: url("/images/homebackground.jpg");
    background-size: cover;
}

.header{ margin: 10px 0 0 0; border-bottom: 2px solid black; }
.header .row { background-color: white; width: 100%; margin: 0 }

.logo{
    height: 70px;
    max-width: 200px;
    margin: 5px 20px;
}

.loginBtn{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.profileTop{ margin: 10px; }
.profileTop p { margin: 0 auto; }

.profilePic{
    width: 40px;
    border-radius: 10px;
}

.loginP{
    margin-top: 15px;
}

.displayInlineBlock{
    display: inline-block;
    vertical-align: middle;
    margin: 5px 20px;
}

.link-no-style {
    text-decoration: none;
    color: white;
}
.link-no-style:hover {
    color: white;
    text-decoration: none;
}

.user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}