.App-header {
    background-color: grey;
}

.card{
    margin-left: 10%;
}

.card-title{
    text-align: left;
}

.Domicile{
    text-align: left; 
}
.Exterieur{
    text-align: right;
}

.games{
    margin-top: 80px;
}

.nav-tabs{
    margin-left: 10%;
}

.card-body {
    margin-top: 20px;
}