.App-header {
    background-color: grey;
}

.card{
    margin-left: 10%;
}

.card-title{
    text-align: left;
}

.Domicile{
    text-align: left; 
}
.Exterieur{
    text-align: right;
}
.team-picto {
    padding: 0 10px;
}